.initial .card{
    width: 80%;
    height: 400px;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.initial .project {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.initial .project h2 {
    margin-top: 0;
}
.initial .project .content {
    background-position: 160px 0px;
    background-size: 150px;
    background-repeat: no-repeat;
}
.initial .project .content .mask {
    height: 100%;
    padding: 0;
    background-image: linear-gradient(90deg, rgba(34,34,34,1) 45%, rgba(34,34,34,0) 100%, rgba(34,34,34,0) 100%);
}
@media(min-width:600px){
    .initial .project .content .mask {
        background-image: none;
    }
}
@media(min-width:900px){
    .initial .card {
        height:auto;
        border-radius: 15px;
    }
    .initial .card .project{
        padding: 20px 0;

    }
}
@media(min-width:1150px){
    .initial .card {
        padding: 30px;
        height: auto;
    }
}