.initial .card{
    width: 80%;
    height: 400px;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.initial .project {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.initial .project h2 {
    margin-top: 0;
}
.initial .project .content {
    background-position: 160px 0px;
    background-size: 150px;
    background-repeat: no-repeat;
}


@media(min-width:900px){
    .initial .card {
        height:auto;
        border-radius: 15px;
    }
    .initial .card .project{
        padding: 20px 0;

    }
    .initial section .card{
        border: solid rgba(195, 193, 65, .95)  1px;
        margin: 200px 10px;
        padding: 0;
    }
}
@media(min-width:1150px){
    .initial .card {
        padding: 30px;
        height: auto;
    }
    .initial section .card{
        margin: 0 30px;
    }
}