.container {
    max-width: 1200px;
    margin: auto;
}
.title {
    font-family:'Gochi Hand';
    font-size: 45px;
    text-align: center;
    top: 0;
    background-color: #222;
    color: rgba(195, 193, 65, 0.794);;
    text-shadow: 0 0 2px;
    transition: all .2s ease-in-out;
    padding: 50px 0 0 0;
    margin: 0;
}
.title:hover {
    text-shadow: 0 0 5px;
}
@media(min-width:600px){
    .title{
        background-color: transparent;
    }
}
@media(min-width:1150px){
    .title{
        margin: 50px 0 20px 0 ;
        font-size: 70px;
    }
}
