@font-face{
  font-family:'Gochi Hand' ;
  src: url('./assets/fonts/Gochi_Hand/GochiHand-Regular.ttf');
}
*{
  text-decoration: none;
  list-style: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  color: #ccc;
  min-height: 100vh;
}
button{
  background-color: transparent;
  background-image: none;
  border: none;
}
a{
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
@media(min-width:600px){
  body{
   
    background-image: linear-gradient(45deg, rgba(34,34,34,1) 0%, rgba(34,34,34,1) 10%, rgba(51,51,51,1) 20%, rgba(51,51,51,1) 30%, rgba(34,34,34,1) 40%, rgba(34,34,34,1) 50%, rgba(34,34,34,1) 60%, rgba(51,51,51,1) 70%, rgba(51,51,51,1) 80%, rgba(51,51,51,1) 90%, rgba(34,34,34,1) 100%);  
  }

  
}
