.initial {
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
}
.initial section {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 100px 0;
}
.initial span {
    display:block;
}
.initial p {
    display: inline;
    font-size: 19px;
    line-height: 22px;
}
.initial .class {
    color:#ce9d6a; 
}
.initial .attribute {
    color: #8CDCFE;
}
.initial .value{
    color: #cf7747;
}
.initial .whitespancing {
    padding: 0 0 0 35px;
}


@media(min-width:900px){
    .initial section{
        flex-direction: row;
      
    }
    .initial section .card{
        border: solid rgba(195, 193, 65, .95)  1px;
        margin: 200px 10px;
        padding: 0;
    }
    .initial .whitespancing{
        width:100% ;
        padding: 0 0 0 15px;
    }
    .initial section .card:nth-child(2){
        padding: 0 0 0 10px;
        border:none;
        order: -1;
        font-size: 20px;
    }
}
@media(min-width:1150px){
    .initial section{
        padding: 150px 0;
    }
    .initial section .card{
        margin: 0 30px;
    }
}








